<div *ngIf="(needValidate$ | async)">
    <span class="error" *ngIf="control && control.errors?.required">
        Requerido.
    </span>
    <span class="error" *ngIf="control && control.errors?.minlength">
        Debe tener un minimo de {{control.errors.minlength.requiredLength}} caracteres
    </span>
    <span class="error" *ngIf="control && control.errors?.maxlength">
        Debe tener un maximo de {{control.errors.maxlength.requiredLength}} caracteres
    </span>

    <span class="error" *ngIf="control && control.errors?.min">
        Debe tener un minimo de {{control.errors.min.min}}
    </span>
    <span class="error" *ngIf="control && control.errors?.max">
        Debe tener un máximo de {{control.errors.max.max}}
    </span>

    <span class="error" *ngIf="control && control.errors?.email">
        Email inválido.
   </span> 
</div>