<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <div class="jumbotron">
            <div class="container">
                <h1>Tabla de Repartidores</h1>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">DNI</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Edad</th>
                            <th scope="col">Capacidad de transporte</th>
                            <th scope="col">País de origen</th>
                            <th scope="col">Posee unidad propia</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let repartidor of repartidores$ | async">
                            <th scope="row">{{repartidor.dni}}</th>
                            <td>{{repartidor.nombre}}</td>
                            <td>{{repartidor.edad}}</td>
                            <td>{{repartidor.capacidadTransporte}}</td>
                            <td>{{repartidor.pais}}</td>
                            <td>{{repartidor.unidadPropia}}</td>
                            <td>
                                <button (click)="repartidorSeleccionado(repartidor)">Seleccionar Repartidor</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
  </div>