<!-- <div class="container">
    <main>
      <div class="py-5 text-center">
        <h2>Checkout form</h2>
        <p class="lead">Below is an example form built entirely with Bootstrap’s form controls. Each required form group has a validation state that can be triggered by attempting to submit the form without completing it.</p>
      </div>
  
      <div class="row g-5">
        <div class="col-md-4 order-md-2 mb-4">
            <app-country-list (seleccionpais)="seleccionarPais($event)"></app-country-list>
        </div>
  
        <div class="col-md-7 col-lg-8">
          <h4 class="mb-3">Alta de repartidor</h4>
          <form class="needs-validation" [formGroup]="fg" (ngSubmit)="onSubmit(fg)" novalidate>
            <div class="row g-3">
              <div class="col-sm-6">
                <label for="firstName" class="form-label">DNI</label>
                <input type="text" class="form-control" formControlName="dni" id="firstName" placeholder="" value="" required>
                <app-error [needValidate$]="needValidate$" [control]="fg.controls['dni']" ></app-error>
              </div>
  
              <div class="col-sm-6">
                <label for="lastName" class="form-label">Nombre</label>
                <input type="text" class="form-control" formControlName="nombre" id="lastName" placeholder="" value="" required>
                <app-error [needValidate$]="needValidate$" [control]="fg.controls['nombre']" ></app-error>

              </div>
  
              <div class="col-12">
                <label for="username" class="form-label">Edad</label>
                <div class="input-group has-validation">
                  <input type="number" class="form-control" formControlName="edad" id="username" placeholder="Edad" required>
                  <app-error [needValidate$]="needValidate$" [control]="fg.controls['edad']" ></app-error>

                </div>
              </div>
  
              <div class="col-12">
                <label for="email" class="form-label">Capacidad de transporte</label>
                <input type="number" class="form-control" formControlName="capacidadTransporte" id="email">
                <app-error [needValidate$]="needValidate$" [control]="fg.controls['capacidadTransporte']" ></app-error>

              </div>
  
              <div class="col-12">
                <label for="address" class="form-label">Pais</label>
                <input type="text" class="form-control" formControlName="pais" id="address" [disabled] = "true" required>
                <app-error [needValidate$]="needValidate$" [control]="fg.controls['pais']" ></app-error>

              </div>
  
              <div class="col-12">
                <label for="address2" class="form-label">Posee Unidad propia </label>
                <select class="form-select" formControlName="unidadPropia" id="country" required>
                    <option value="true">Si</option>
                    <option value="false">No</option>
                  </select>
                <app-error [needValidate$]="needValidate$" [control]="fg.controls['unidadPropia']" ></app-error>
                </div>
            </div>
            <hr class="my-4">
  
            <button class="w-100 btn btn-primary btn-lg" type="submit">Guardar</button>
          </form>
        </div>
      </div>
    </main>
  </div> -->