<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand inicio " href="#">Inicio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li *ngIf="!(authService.loggedUser | async)" class="nav-item active">
          <a class="nav-link" routerLink="/login/login">Login</a>
        </li>
        <li *ngIf="!(authService.loggedUser | async)" class="nav-item">
            <a class="nav-link" routerLink="/login/register">Registro</a>
          </li>

          <li *ngIf="(authService.loggedUser | async)" class="nav-item">
            <a class="nav-link" routerLink="/repartidores/alta">Alta repartidores</a>
          </li>

          <li *ngIf="(authService.loggedUser | async)" class="nav-item">
            <a class="nav-link" routerLink="/repartidores/dashboard">Lista repartidores</a>
          </li>
      </ul>
    </div>
  </nav>