<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand inicio " href="#">Inicio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li *ngIf="!(isLoggedIn() | async)" class="nav-item active">
          <a class="nav-link" routerLink="/login/login">Login</a>
        </li>
        <li *ngIf="!(isLoggedIn() | async)" class="nav-item">
            <a class="nav-link" routerLink="/login/register">Registro</a>
          </li>
          <li *ngIf="(isAdminLoggedIn() | async)" class="nav-item">
            <a class="nav-link" routerLink="/alta-materias">Alta de materias</a>
          </li>

          <li *ngIf="(isAdminLoggedIn() | async)" class="nav-item">
            <a class="nav-link" routerLink="/todas-materias">Lista materias</a>
          </li>
          <li *ngIf="(isAdminLoggedIn() | async)" class="nav-item">
            <a class="nav-link" routerLink="/inscripcion-materias">Inscripcion de materias</a>
          </li>
          <li *ngIf="(isAdminLoggedIn() | async)" class="nav-item">
            <a class="nav-link" routerLink="/listado-alumnos">Listado de alumnos</a>
          </li>
          <li *ngIf="(isAdminLoggedIn() | async)" class="nav-item">
            <a class="nav-link" routerLink="/listado-profesores">Listado de profesores</a>
          </li>
        </ul>
        <button *ngIf="(isLoggedIn() | async)" (click)="logout()"class="btn btn-primary" style="float: right; color: white; margin-left: auto;">
            Cerrar sesión
        </button>
        <div appMail *ngIf="(isLoggedIn() | async)" class="nav-item" style="float: right; color: white;">
            <img class="foto" [src]="photoUrl" alt="">
        </div>
    </div>
  </nav>